{{"{{"}}/*
Expand the name of the chart.
*/{{"}}"}}
{{"{{"}}- define "{{.ProjectName}}.name" -{{"}}"}}
{{"{{"}}- default .Chart.Name .Values.nameOverride | trunc 63 | trimSuffix "-" {{"}}"}}
{{"{{"}}- end {{"}}"}}

{{"{{"}}/*
Create a default fully qualified app name.
*/{{"}}"}}
{{"{{"}}- define "{{.ProjectName}}.fullname" -{{"}}"}}
{{"{{"}}- if .Values.fullnameOverride {{"}}"}}
{{"{{"}}- .Values.fullnameOverride | trunc 63 | trimSuffix "-" {{"}}"}}
{{"{{"}}- else {{"}}"}}
{{"{{"}}- $name := default .Chart.Name .Values.nameOverride {{"}}"}}
{{"{{"}}- if contains $name .Release.Name {{"}}"}}
{{"{{"}}- .Release.Name | trunc 63 | trimSuffix "-" {{"}}"}}
{{"{{"}}- else {{"}}"}}
{{"{{"}}- printf "%s-%s" .Release.Name $name | trunc 63 | trimSuffix "-" {{"}}"}}
{{"{{"}}- end {{"}}"}}
{{"{{"}}- end {{"}}"}}
{{"{{"}}- end {{"}}"}}

{{"{{"}}/*
Create chart name and version as used by the chart label.
*/{{"}}"}}
{{"{{"}}- define "{{.ProjectName}}.chart" -{{"}}"}}
{{"{{"}}- printf "%s-%s" .Chart.Name .Chart.Version | replace "+" "_" | trunc 63 | trimSuffix "-" {{"}}"}}
{{"{{"}}- end {{"}}"}}

{{"{{"}}/*
Common labels
*/{{"}}"}}
{{"{{"}}- define "{{.ProjectName}}.labels" -{{"}}"}}
helm.sh/chart: {{"{{"}} include "{{.ProjectName}}.chart" . {{"}}"}}
{{"{{"}} include "{{.ProjectName}}.selectorLabels" . {{"}}"}}
app.kubernetes.io/version: {{"{{"}} .Chart.AppVersion | quote {{"}}"}}
app.kubernetes.io/managed-by: {{"{{"}} .Release.Service {{"}}"}}
app.kubernetes.io/part-of: {{.ProjectName}}
{{"{{"}}- end {{"}}"}}

{{"{{"}}/*
Selector labels
*/{{"}}"}}
{{"{{"}}- define "{{.ProjectName}}.selectorLabels" -{{"}}"}}
app.kubernetes.io/name: {{"{{"}} include "{{.ProjectName}}.name" . {{"}}"}}
app.kubernetes.io/instance: {{"{{"}} .Release.Name {{"}}"}}
{{"{{"}}- end {{"}}"}}

{{"{{"}}/*
ServiceAccount name
*/{{"}}"}}
{{"{{"}}- define "{{.ProjectName}}.serviceAccountName" -{{"}}"}}
{{"{{"}}- if .Values.serviceAccount.create {{"}}"}}
{{"{{"}}- default (include "{{.ProjectName}}.fullname" .) .Values.serviceAccount.name {{"}}"}}
{{"{{"}}- else {{"}}"}}
{{"{{"}}- default "default" .Values.serviceAccount.name {{"}}"}}
{{"{{"}}- end {{"}}"}}
{{"{{"}}- end {{"}}"}}
